.main-btn-component {
  background-color: var(--button-color);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--main-font);
  border: none;
  border-radius: 100px;
  width: 100%;
  height: 3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.main-btn-component:hover {
  background-color: #2002a3;
}
.main-btn-component:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}
