
.student-dashboard-container{
    display: flex;
    width: 100%;
  
}

.student-dashboard-body{
    width: 80%;
    margin-left: 20%;
    background-color: #f9fafb;
}

.heading-dashboard{
    color: #000;
    font-family: "Inter";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 
    letter-spacing: 0.01563rem;
    margin: 2rem auto 2rem;
    width: 90%;
}

  
.enroll-button{
    border-radius: 1.875rem;
    cursor: pointer;
    background: #2D00F7;
    border: none;
    width: 50%;
    text-align: center;
    color: var(--White, #FFF);
    font-family: "Inter";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.00938rem;
    padding: 0.2rem 1rem;
    
  }

  
  .student-result-table-body{
    display: flex;
    border: 1px solid var(--Grey-400, #98A2B3);
    margin: 1.5rem 0 0 0;
    gap: 9rem;
    padding: 1rem 2rem;
    align-items: center;
  }

  .semester-session-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 1.5rem;


  }

  .semester-div-container{
    color: #667085;
    font-family: "Inter";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 
    width: 27%;
    display: flex;
    align-items: center;
   
  }

  .session-div-container{
    color: #667085;
    font-family: 'Inter';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 
    width: 27%;
    display: flex;
    align-items: center;
    
  }


  .session-dropdown .semester-button-default{
    color: #667085;
    font-family: "Inter";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 
    border: none;
    padding: 0.5rem;
    width: 100%;
  }


  .session-dropdown .session-button-default{
    color: #667085;
    font-family: "Inter";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 
    border: none;
    padding: 0.5rem 0.5rem;
  }


  .student-result-table-header-item{
    text-align: left;
    margin: 0;
    padding: 0rem 1.2rem 1rem;
    
  }

  .table-row:hover {
    background-color:#d0d6e1;
  }
  
.student-result-table{
    border-collapse: separate;
    border-spacing: 0 1rem;
    width: 90%;
    background-color: white;
    padding: 0rem 2rem 1rem;
    margin: 2rem auto 1rem;
    
}

.student-result-table tbody tr {

  padding-bottom: 10px;
}

.table-row-data{
  border-top: 1px solid #98A2B3;
  border-bottom: 1px solid #98A2B3;
 
}

.table-row .table-row-data:first-child{
  border-left: 1px solid #98A2B3;
}

.table-row .table-row-data:last-child{
  border-right: 1px solid #98A2B3;
}






