@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&family=Inter:wght@300;400;600&family=Libre+Baskerville&family=Orbitron&family=Public+Sans&display=swap");

.success-modal-main-wrapper {
  display: flex;
  background-color: #f9fafb;
  min-height: 100vh;
  font-family: "Inter", "sans-serif";
  /* border: 2px solid red; */
}

.set-exams-page-main-section {
  .set-exams-page-whole-container {
    display: flex;
    background-color: #f9fafb;
    min-height: 100vh;
    font-family: "Inter", "sans-serif";
    /* border: 2px solid red; */
  }
}
.add-section-pop-up {
  height: 100vh;
  width: 80%;
  margin-left: 20%;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  color: #000000;
  background: #212121f8;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-pop-up {
  width: 35%;
  min-height: 20rem;
  padding: 2rem;
  background: #fff;
  border-radius: 16px;
}
.inner-pop-up > h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.inner-pop-up > form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.success-icon {
  padding: 1rem;
  background-color: #34a853;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
}
.success-message {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  color: #21334f;
}

.success-message-text {
  color: #667085;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
