@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&family=Inter:wght@300;400;600&family=Libre+Baskerville&family=Orbitron&family=Public+Sans&display=swap");

.set-exams-page-whole-container {
  display: flex;
  background-color: #F9FAFB;
  min-height: 100vh;
  font-family: 'Inter', 'sans-serif';
  /* border: 2px solid red; */
}



.set-exams-page-main-section {
  /* overflow: scroll;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20%;
  width: 80%;
  font-family: "Inter", "sans-serif";

  /* border:1px solid aquamarine; */
}

.set-exams-inner-wrapper{
  width: 90%;
  margin-bottom: 2rem;
  
}

.set-exams-page-main-section-title-container {
  background-color: #f9fafb;
  margin-top: 1rem;
  margin-bottom: 2%;
  width: 100%;
  /* border:1px solid violet; */
}

.set-exams-page-main-section-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.25px;
  background-color: #f9fafb;
  align-self: flex-start;
  /* border: 1px solid gold; */

}

.set-exams-page-all-forms {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;


  /* box-shadow: 1px 1px 4px 1px #00000090; */
}
.set-exams-top-form-wrapper{
  background-color: #2D00F7;
  padding: 1rem 2rem;
}

.set-exams-top-form-wrapper > *{
  flex-basis: 100%;
}

.set-exam-page-modal-fieldset{
  border:none;
}

.set-exam-page-modal-fieldset .section-detail{
  border: 1px solid rgba(189, 189, 189, 1)
}

.add-section-fieldset{
  border: none;
}
.set-exams-page-modal-question-type-input{
  border: none;
  margin-bottom: 0.5rem;
}
.set-exams-page-modal-selection-question{
  color:gray;
  font-size: 12px;
}

.set-exams-page-modal-buttons-container{
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

.set-exams-page-modal-button{
  border: none;
  border-radius: 10vh;
  width: 7rem;
  height:4.8vh;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
  cursor: pointer;
  background-color: #D0D5DD;
  color: #667085;
    

}

.set-exams-page-modal-buttons-container button:hover{
  background-color: #2D00F7;
    color: white;
  
}

.set-exams-page-session-form {
  background-color: #fff;
}


.set-exams-page-session-form-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.set-exams-page-form-label-and-inputs {
  width: 100%;
  margin-bottom: 1rem;

}

.set-exams-page-session-form-label{
  color:white;
}

.set-exams-page-session-form-input {
  height: 3rem;
  width: 100%;
  padding: 1rem;
border-radius:5px;
border: none;
}

.set-exams-page-session-form-instruction-row {
display: flex;
justify-content: space-between;
gap: 1rem;
width: 100%;
color:white;
}
.set-exams-session-date-wrapper{
  flex-basis: 30%;
}
.set-exams-session-instructions-wrapper{
  flex-basis: 70%;
}
.set-exams-page-session-form-date-input{
  height: 3rem;
  margin-right: 1rem;
  border-radius:5px;
border: none;
padding: 1rem;
width: 100%;

}
.set-exams-page-session-form-instructions-input {
  margin-right: 1rem;
  border-radius:5px;
border: none;
padding: 1rem;
width: 100%;
}

.set-exam-page-session-form-button {
  width: 2vh;
  height: 2vh;
  position: relative;
  bottom: 4.4rem;
  left: 98%;
  border: none;
  border-radius: 100%;
  box-shadow: 0px 1px 4px 1px #00000040;
  color: #1849a9;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.set-exams-page-bottom-form {
  width: 100%;
  padding: 1rem 2rem 2rem;
  box-shadow: 0px 7px 8px 1px #00000040;
  /* border:1px solid red;  */

}

.set-exams-page-add-section-button-container{
  display: flex;
  justify-content: flex-end;
}
.set-exams-page-add-section-button {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  cursor: pointer;
  width: 17vh;
  height: 5vh;
  border-radius: 100px;
  border: 1px solid black;
  padding: 0.5rem 0.7rem;
  align-items: center;
  
  
}

.set-exams-page-add-section-button-text {
  margin-top: 1px;
}

.set-exams-page-questions-section-container {
width: 100%!important;
margin-top: 2rem;
padding: 0;

  /* border: 1px solid orange;*/
}

.set-exams-page-questions-section-header-and-marks {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid violet */
}

.set-exams-page-questions-section-title {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  margin: 0rem auto;
  width: 90%;
  text-align: center;
}
.set-exams-page-questions-section-header-subtitle {
  font-size: 16px;
  font-weight: 400;
}

.set-exams-page-questions-section-marks {
  margin: 0rem auto;
  width: 90%;
  text-align: center;
}

.set-exams-page-questions-form-container {
  margin-left: 13vh;
  /* border: 1px solid palevioletred; */
  width: 100%;
}
.set-exams-page-question-with-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.set-exams-page-multiple-choice-questions-container {
  /* border: 1px solid saddlebrown; */
  width: 100%;
}

.set-exams-page-questions-form-multiple-choice-add-question-button {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 1rem 0rem;
  border: none;
  border-radius: 100%;
  box-shadow: 0px 1px 4px 1px #00000040;
  color: #1849a9;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  align-self: flex-end;
  position: fixed;
  margin-left: 130%;
  z-index: 9000;
  
}
.set-exams-page-questions-form-multiple-choice-add-question-button:hover{
  background-color: #2D00F7;
  color: white;
}

.set-exams-page-multiple-choice-questions-form {
  /* border:1px solid red; */
  width: 100%;
}

.set-exams-page-questions-form-multiple-choice-question-and-number {
  margin-top: 1vh;
  /* border: 1px solid gold; */
  margin-bottom: 3vh;
  width: 97%;
}

.set-exams-page-questions-form-multiple-choice-question-number {
  margin-right: 0.5%;
}
.set-exams-page-questions-form-multiple-choice-question {
  width: 97%;
  height: 3vh;
}

.set-exams-page-questions-form-multiple-choice-answers-container {
  margin-bottom: 6vh;
  /* border: 1px solid blueviolet; */
  width: 100%;
}
.set-exams-page-questions-form-multiple-choice-answer-label {
  margin-right: 3%;
  margin-left: 3%;
}

.set-exams-page-questions-form-multiple-choice-answer-label-end {
  margin-right: 3%;
}

.set-exams-page-questions-form-multiple-choice-answer {
  margin-right: 2%;
}

.set-exams-page-answer-text {
  /* border: 1px solid #475467; */
  color: #98a2b3;
  margin-right: 5vh;
}

.hiddenfunction {
  visibility: hidden;
  height: 0%;
}

.set-exams-page-bottom-form-base-button-section {
  background-color: white;
  /* border: 1px solid purple; */
  width: 100%;
}
.set-exams-page-next-section-and-save-button-container {
  /* border: 1px solid aquamarine; */
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 0%;
  left: 75%;
  width: 25%;
  margin-top: 3%;
  background-color: white;
}

.set-exams-page-next-section-link {
  text-decoration: none;
  margin-top: 1vh;
  color: #004fff;
}

.set-exams-page-save-button {
  height: 5vh;
  width: 12vh;
  border: none;
  border-radius: 100px;
  color: white;
  background-color: #1570ef;
}
.number-question-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  
}
.remove-new-question-btn-wrapper {
  position: absolute;
  top: 10%;
  right: 0.7%;
  z-index: 1000 !important;
  overflow-y: visible;
 
  
}

.remove-new-question-btn {
  cursor: pointer;
  border-radius: 100%;
  font-weight: 400;
  text-align: center;
  border-style: none;
  cursor: pointer;
  overflow: visible;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  border: none;
  box-shadow: 0px 1px 4px 1px #00000040;
  color: #1849a9;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  align-items: center;
 

}
.remove-new-question-btn:hover{
  background-color: #1849a9;
  color: white;
}

.objective-input-field {
  width: 100%;
  margin-left: 1rem;
  display: block;
  height: 2rem;
  overflow: visible !important;
  padding: 0.5rem;
}

.options-wrapper {
  display: flex;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  padding-left: 1.5rem;
  margin-bottom: 2.5rem;
  
}

.options-label {
  display: inline-flex;
  margin-right: 1rem;
  align-items: center;
}
.options-text{
  padding: 0.5rem;
}
.options-label input[type="radio"],
.options-label input[type="text"] {
  margin-left: 0.3rem;
}
.correct-answer-select {
  width: 7.5rem;
}
.theory-question-input-options {
  display: none !important;
}
.theory-question-input {
  width: 100%;
  margin-left: 1rem;
  display: block;
  height: 2.5rem;
  padding: 0.5rem;
}

.add-section-pop-up {
  height: 100vh;
  width: 80%;
  margin-left: 20%;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  color: #000000;
  background: #212121f8;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-pop-up {
  width: 35%;
  padding: 2rem;
  background: #fff;
  border-radius: 16px;
}
.inner-pop-up > h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.inner-pop-up > form {
  margin-top: 2rem;
}
.inner-pop-up > form > fieldset {
  margin-bottom: 1rem;
}
.add-section-fieldset {
  display: flex;
}
.add-section-fieldset > * {
  flex-basis: 100%;
}
.inner-pop-up > form > fieldset > label {
  font-weight: 700;
}
.inner-pop-up > form > fieldset > input {
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid #000000;
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.multiple-choice-question-wrapper,
.fill-in-the-blank-wrapper,
.theory-question-wrapper {
  color: #000000;
  width: 100%!important;
}

.fill-in-the-blanks-options {
  display: none !important;
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.hidden-fill-in-the-blank {
  display: none;
}
.fill-in-the-blanks-remove-question {
  margin-bottom: 1rem;
  border: none;
  border-radius: 10vh;
  background-color: #D0D5DD;
  color: #667085;
  width:14%;
  height:3vh;
  margin-left:86% ;
  margin-top: 1.5vh;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
  cursor: pointer;
}

.fill-in-the-blanks-remove-question:hover{
  background-color: #2D00F7;
  color: white;

}

.set-exams-page-change-section-buttons-container{
  margin-top: 5rem;
}

.set-exams-page-change-section-buttons-container button:last-child{
  margin-left: 54%;
}

.set-exams-page-change-section-buttons{
  border: none;
  border-radius: 10vh;
  background-color: #2D00F7;
  color: white;
  width:14%;
  height:3vh;
  margin-left:2vh;
  margin-top: 1.5vh;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
  cursor: pointer;
  
}

.set-exams-page-change-section-buttons:hover{
  background-color: #3614ce;
  color: rgba(255, 255, 255, 0.911);
}

.set-exams-final-submit-btn:disabled{
  background-color: #D0D5DD;
  color: #667085;
  cursor: not-allowed;

}


/*
.set-exams-page-add-theory-button{
  border: none;
  border-radius: 10vh;
  background-color: #D0D5DD;
  color: #667085;
  width:14%;
  height:6vh;
  margin-left:2vh ;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
}

.set-exams-page-add-theory-button:hover{
  background-color: #2D00F7;
    color: white;
}


*/