.lecturer-dashboard-container {
  display: flex;
  width: 100%;
}
.heading-dashboard {
  margin: 0;
}
.lecturer-dashboard-body {
  width: 80%;
  margin-left: 20%;
  background-color: #f9fafb;
}

.lecturer-blue-header {
  width: 90%;
  margin: 0 auto;
  border-radius: 1rem;
  background-color: var(--button-color);
  padding: 2rem;
  justify-content: space-around;
  align-items: center;
}

.lecturer-blue-header-content {
  color: #ffff;
  font-family: "Inter";
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.01563rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0rem;
}

.lecturer-dashboard-exam-timetable-container {
  width: 90%;
  margin: 0 auto;
}

.lecturer-dashboard-semester-session-container {
  font-family: "Inter";
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.lecturer-dashboard-semester-session-container p {
  font-size: 1.5rem;
  font-weight: 700;
}

.dashboard-course-exam-timeable {
  font-weight: 600;
  font-size: 1.2rem;
}
.lecturer-dashboard-exam-timetable-header {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
}

.student-result-table-header-item {
  text-align: left;
  margin: 0;
  padding: 0rem 1.2rem 1rem;
}

.lecturer-exam-timetable {
  border-collapse: separate;
  border-spacing: 0 2rem;
  table-layout: auto;
  width: 100%;
  padding: 2rem;
  background-color: white;
  margin: 1rem auto 1rem;
}
.lecturer-exam-timetable thead {
  margin: 0rem;
  padding: 0rem;
}

.lecturer-exam-timetable thead th {
  margin: 0rem;
  padding: 0rem 0.4rem;
}

.lecturer-exam-timetable-row td {
  padding: 1rem 0.6rem;
}

.lecturer-exam-timetable-row td {
  border-top: 1px solid #98a2b3;
  border-bottom: 1px solid #98a2b3;
}

.lecturer-exam-timetable-row td:first-child {
  border-left: 1px solid #98a2b3;
}

.lecturer-exam-timetable-row td:nth-child(2) {
  width: 20%;
}

.lecturer-exam-timetable-row td:nth-child(4) {
  width: 16%;
}

.lecturer-exam-timetable-row td:last-child {
  border-right: 1px solid #98a2b3;
  width: 10%;
}

.lecturer-exam-timetable-row button {
  border-radius: 1.875rem;
  cursor: pointer;
  border: 1px solid #2d00f7;
  color: #2d00f7;
  font-family: "Inter";
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
  padding: 0.5rem 0.5rem;
  background-color: white;
  width: 100%;
}

.lecturer-exam-timetable-row button:hover {
  background-color: #2d00f7;
  color: white;
}

.lecturer-exam-timetable-row td:last-child {
  padding: 0 0.2rem;
}

.no-exam-paragraph {
  margin: 2rem 0;
}
